.main
  .main__chat
    .main__chat__box
      .main__chat__box__current
        #{@group.name}
      .main__chat__box__list
        Members:
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    .main__chat__menu1
      = link_to edit_group_path(@group), class: "main__chat__menu1__Edit" do
        Edit


  .main__message
    = render @messages

  .main__form
    = form_for [@group, @message] do |f|
      .main__form__box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'      
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      
